
/bin/
/pkg/
/out/


*.exe
*.dll
*.so
*.dylib
*.test


go.sum
vendor/


.env


*.log
*.tmp
*.swp
*.swo
*.bak


.DS_Store
Thumbs.db


.idea/
.vscode/
*.iml


docs/*
!docs/docs.go # Исключаем папку, но оставляем сгенерированный файл


docker-compose.override.yml
